.grid-block {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0 60px;
	margin-top: 24px;
}

.grid-block .card-image {
	padding-top: 25.4%;
}

.grid-block	.card-details {
	padding-left: 0;
}

@media all and (min-width: 768px) {
	.grid-block {
		grid-template-columns: 1fr 1fr;
	}
}
